<div class="list-container">
  <!-- slice pipe 方法 -->
  <div
    *ngFor="
      let item of list
        | slice : (curPage - 1) * pageSize.size : curPage * pageSize.size;
      last as isLast
    "
    class="item"
    [class.not-last]="!isLast"
  >
    {{ item }}
  </div>
</div>
<div class="pagination">
  <span>总数：{{ total }}</span>
  <span>
    <select [(ngModel)]="pageSize.size">
      <option *ngFor="let item of pageSize.options" [value]="item">
        {{ item }}
      </option>
    </select>
    条/页
  </span>
  <span>
    <button (click)="prePage()" [disabled]="curPage === 1">上一页</button>
  </span>
  <span>{{ curPage }} / {{ totalPages }}</span>
  <span>
    <button (click)="nextPage()" [disabled]="curPage === totalPages">
      下一页
    </button>
  </span>
  <span>
    跳至
    <input type="text" [(ngModel)]="curPage" (keydown.enter)="jumpToPage()" />
    页
  </span>
</div>
